.container {
  display: grid;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-color: greenyellow;
}

#canvas {
  // height: 200px;
  // width: 200px;
  border: 1px solid black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

